* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    color: #fff;
}
.general-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 100px;
    
}
.container-horizontal {
    display: flex;
}
.box {
    display: inline-flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff;
}

.box-min-5 {
    background: rgba(255, 255, 0, 0.794);
}
.box-sup-5 {
    background: lightgreen;
}